*.gem
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*
*.bak
*.ini
_posts/._sync_57f6f60294ae.db
_posts/.owncloudsync.log
_posts/._sync_57f6f60294ae.db-shm
_posts/._sync_57f6f60294ae.db-wal
*.db
*.db-shm
*.db-wal
